<nav data-bs-theme="dark" class="navbar bg-primary navbar-expand-lg bg-body-tertiary px-5
    navbar--size">
    <div class="container-fluid w-100 px-3 py-2">
      <a class="navbar-brand fs-4" href="#">Angular</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link fs-6" aria-current="page" href="#">Introducción</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-6" href="#">Básico</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-6">Intermedio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fs-6" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Avanzado
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Servicios</a></li>
              <li><a class="dropdown-item" href="#">Guardianes</a></li>
              <li><a class="dropdown-item" href="#">Routing</a></li>
            </ul>
          </li>
        </ul>
        <div class="d-flex">
          <button class="btn btn-primary me-2">Iniciar Sesion</button>
          <button class="btn btn-light">Registrarse</button>
        </div>
      </div>
    </div>
  </nav>